<div class="top" >
        <h1>Giveday, la cagnote joyeuse <br> et solidaire. qui change les anniversaires </h1>
        <p>Pour son anniversaire, offrer à votre enfant l'envie de donner</p>
  </div>
  <div class="container">

     <div class="card-create">
       <h2>Choisissez une date, <br> un cadeau, <br> une association, <br> et lancer les invitations!</h2>
      <%= link_to root_path  do %>
        <%= image_tag("letter.png")  %>
      <%end%>
    </div>
    <div class="card-participate">
      <h2>je veux participer à une cagnotte</h2>
      <%= form_with(url: "/search", method: "get") do %>
        <div class="d-flex flex-column  my-2">
          <div>

        <%= label_tag(:q, "Numero de cagnotte") %>
        <%= text_field_tag(:kitty_number) %>
          </div>
          <%= submit_tag("Aller à la cagnotte", class: "btn btn-yellow") %>
        </div>
      <% end %>
    </div>
    <div class="associations">
      <% @associations.each do |assos| %>
        <%= render "pages/shared/association", association: assos %>
      <%end%>
    </div>
  </div>
  <!-- <div class="d-flex flex-column cards">
    <div class="card d-flex flex-row ">
      <%= image_tag("heart.png", size: "42x42")  %>
      <h2 class="ml-5">je veux créer une cagnotte</h2>
    </div>
    <div class="card d-flex flex-row">
      <%= image_tag("box.png", size: "42x42")  %>
      <h2 class="ml-5">je veux participer à une cagnotte</h2>
    </div>
    <div class="gift animate__animated animate__sildeInDown">
  
      <%= image_tag("gift.png") %>
    </div>
  </div> -->
<!-- </div> -->